@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 9999px;
      background: #36353581;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #514e4e79;
      border-radius: 9999px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #6c66667e;
    }

    .rendering {
      image-rendering: pixelated;
    }
  }
  