@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 9999px;
      background: #363535;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #514E4E;
      border-radius: 9999px;
      border: 1px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #6C6666;
    }
  }
  